body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  padding: 1%;
  height: 10%;
}

.nav-logo-container {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  width: 85%;
}

.nav-items-container {
  display: flex;
  margin-left: auto;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  color: black;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.nav-actions-container {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 34px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: rgb(170, 210, 54);
}

main {
  height: 92vh;
}

.jumbotron {
  background-image: url(./assets/img/landing-background.png);
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumbotron-text-container h1 {
  width: 100%;
  max-width: 1100px;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.jumbotron-text-container p {
  width: 100%;
  max-width: 1100px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  text-align: center;
  padding-top: 32px;
}

.steps {
  display: flex;
}

.step-container {
  width: 25%;
  padding: 112px 48px;
  text-align: center;
  color: white;
}

.step-container:hover i {
  transform: scale(1.1, 1.1);
}

.step-container i {
  font-size: 96px;
  transition: all 0.3s;
}

.step1 {
  background-color: #5acda6;
}

.step2 {
  background-color: #91ac41;
}

.step3 {
  background-color: #e4b476;
}

.step4 {
  background-color: #f69dad;
}

.store {
  width: 100%;
  background-color: #f7eee2;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

#fresh-food-heading {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0 auto;
  margin-top: 35px;
}

.store > h3,
.testimonial > h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.store > p,
.testimonial > p {
  max-width: 700px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}

.store-items-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.store-item-card {
  width: 25%;
  padding: 2%;
}

.icon-wrapper {
  display: inline-block;
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  color: white;
  transition: all 0.3s;
}

.icon-wrapper i {
  font-size: 60px;
}

.store-item-card h3 {
  font-size: 24px;
  font-weight: 600;
}

.store-item-card p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}

.store-item-card:hover .icon-wrapper {
  transform: scale(1.1, 1.1);
}

.testimonial {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.testimonial-item-card {
  padding: 40px 30px;
  margin: 20px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: box-shadow 0.3s;
  background-color: #f5f6fb;
  width: 25%;
  transition: box-shadow 0.3s;
}

.testimonial-item-card:hover {
  box-shadow: 0 12px 16px 0 rgb(39 39 47 / 6%);
}

.testimonial-item-card img {
  width: 80px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.testimonial-message {
  font-size: 14px;
  color: #8b8b99;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}

.testimonial-item-card h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
}

.job-role {
  color: #8b8b99;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0;
}
